In [1]:
import joblib
import pandas as pd

model = joblib.load('../model/random_forest_model.pkl')

### try an example

In [3]:
example_data = pd.DataFrame({
    'longitude': [-122.23],
    'latitude': [37.88],
    'housing_median_age': [41],
    'total_rooms': [1200],
    'total_bedrooms': [129],
    'population': [322],
    'households': [126],
    'median_income': [8.3252],
    'ocean_proximity': ['<1H OCEAN']
})
example_data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
0,-122.23,37.88,41,1200,129,322,126,8.3252,<1H OCEAN

In [4]:
model.predict(example_data)

array([441025.08])